<!DOCTYPE html>
<html ng-app="transformerApp">
    <head>
        <title>Cliente do socket!</title>
        <script src="/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="/bower/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body ng-controller="TransformerController">

        <h1>Transformador funcionando!</h1>
        Status: {{ status }} <br>

        <script src="/bower/angular/angular.min.js" charset="utf-8"></script>
        <script src="/bower/angular-cookies/angular-cookies.min.js" charset="utf-8"></script>
        <script src="/angular/controllers/TransformerController.js" charset="utf-8"></script>
    </body>
</html>
